.answerchoice {
	border: 1px solid black;
  border-radius: 5%;
	width: 40%;
	color: black;
  text-align: center;
  margin: 10px auto;
  font-size: 20px;
  background-color: white;

}

img {
  max-height: 250px;
  width: auto;
}

#answerblock {
  text-align: center;

}

#questionblock {
  text-align: center;
  font-weight: bold;
}

#reset {
  visibility: visible;
}

body {
  background-image: url("../images/videogames.jpg");
  background-size: cover;
  font-family: 'Josefin', sans-serif;
}

h1 {
  text-align: center;
  color: white;
  font-weight: bolder;
  padding: 20px;
  font-size: 45px;
}

p {
  margin: 10px;
  font-weight: bold;
  color: rgb(255, 60, 60);
  font-size: 20px;
}

h2, h4 {
  margin: 30px;
  font-weight: bold;
}

.jumbotron {
  margin: 10px auto;
  text-align: center;
  background-color: rgba(255, 255, 255, 0.7);
  border: 4px solid #0c6edd;
  height: 650px;
  width: 60%;
  
}


.btn {
  position: relative;
  bottom: -130px;
}